@main(Messages("notAuthorized.title")) {
    <div class="page-header">
        <h1>@Messages("notAuthorized.title")</h1>
    </div>

    <div class="alert alert-error">
        @Messages("notAuthorized.message")
    </div>
}