@(passwordChangeForm:Form[controllers.PasswordChange.ChangeInfo])(implicit request: RequestHeader)
@import core.providers.UsernamePasswordProvider
@import core.IdentityProvider
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(views.html.authentication.inputFieldConstructor.f) }

@views.html.main( Messages("passwordChange.title") ) {
    <div class="page-header">
        <h1>@Messages("passwordChange.title")</h1>
    </div>

    @request.flash.get("error").map { msg =>
        <div class="alert alert-error">
            @msg
        </div>
    }

    @if( request.flash.get("success").isDefined ) {
        <div class="alert alert-info">
            @request.flash.get("success").get
        </div>

        <div class="form-actions">
            <a class="btn" href="@controllers.ProviderController.toUrl">@Messages("passwordChange.okButton")</a>
        </div>
    } else {
        <form action="@core.providers.utils.RoutesHelper.handlePasswordChange.absoluteURL(IdentityProvider.sslEnabled)"
              class="form-horizontal"
              autocomplete= "off"
              method="POST"
        >
            <fieldset>
                @helper.inputPassword(
                    passwordChangeForm("currentPassword"),
                    '_label -> Messages("passwordChange.currentPassword"),
                    'class -> "input-xlarge"
                )

                @helper.inputPassword(
                    passwordChangeForm("newPassword.password1"),
                    '_label -> Messages("passwordChange.newPassword1"),
                    'class -> "input-xlarge"
                )

                @helper.inputPassword(
                    passwordChangeForm("newPassword.password2"),
                    '_label -> Messages("passwordChange.newPassword2"),
                    '_error -> passwordChangeForm.error("newPassword"),
                    'class -> "input-xlarge"
                )

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">@Messages("passwordChange.changeButton")</button>
                    <a class="btn" href="@controllers.ProviderController.toUrl">@Messages("signup.cancel")</a>
                </div>
            </fieldset>
        </form>
     }
}