@(providerId: String, loginForm: Option[Form[(String, String)]] = None)(implicit request: RequestHeader)

@import core.Registry
@import core.IdentityProvider
@import core.providers.UsernamePasswordProvider
@import core.AuthenticationMethod._
@import core.providers.utils.RoutesHelper
@import play.api.Logger
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(views.html.authentication.inputFieldConstructor.f) }

@Registry.providers.get(providerId).map { provider =>
            @if( provider.authMethod == OAuth1 || provider.authMethod == OAuth2 ) {
                @defining( "images/providers/%s.png".format(provider.id) ) { imageUrl =>
                    <a href="@provider.authenticationUrl"> <img src="@RoutesHelper.at(imageUrl)"/></a>
                }
            }

            @if( provider.authMethod == UserPassword ) {
                <form action = "@core.providers.utils.RoutesHelper.authenticateByPost("userpass").absoluteURL(IdentityProvider.sslEnabled)"
                      class="form-horizontal" autocomplete="off" method="POST">
                    <fieldset>

                        @if( UsernamePasswordProvider.withUserNameSupport ) {
                            @helper.inputText(
                                loginForm.get("username"),
                                '_label -> Messages("signup.username"),
                                'class -> "input-xlarge"
                            )
                        } else {
                            @helper.inputText(
                                loginForm.get("username"),
                                '_label -> Messages("signup.email1"),
                                'class -> "input-xlarge"
                            )
                        }

                        @helper.inputPassword(
                            loginForm.get("password"),
                            '_label -> Messages("signup.password1"),
                            'class -> "input-xlarge"
                        )

                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">@Messages("login.title")</button>
                        </div>
                        <div class="clearfix">
                            <a href="@core.providers.utils.RoutesHelper.startResetPassword()"><p>@Messages("login.forgotPassword") </a></p>
                        </div>
                            <div class="clearfix">
                                <p>@Messages("login.signUp") <a href="@core.providers.utils.RoutesHelper.startSignUp()">@Messages("login.here")</a></p>
                            </div>
                    </fieldset>
                </form>
            }
}.getOrElse {
    @*****************************************
     * Todo: throw a runtime exception? this might need improvement
     *****************************************@
    @Logger.error("[ unknown provider '%s'. Can't render it.".format(providerId))
    { throw new RuntimeException("Unknown provider '%s') }
}
