@(resetForm:Form[(String, String)], token: String)(implicit request: RequestHeader)
@import helper._
@import core.IdentityProvider
@implicitFieldConstructor = @{ FieldConstructor(views.html.authentication.inputFieldConstructor.f) }

@views.html.main( Messages("password.title") ) {
    <div class="page-header">
        <h1>@Messages("password.title")</h1>
    </div>

    @request.flash.get("error").map { msg =>
        <div class="alert alert-error">
            @Messages(msg)
        </div>
    }

    <form action="@core.providers.utils.RoutesHelper.handleResetPassword(token).absoluteURL(IdentityProvider.sslEnabled)"
          class="form-horizontal"
          autocomplete="off"
          method="POST"
    >
        <fieldset>
            @helper.inputPassword(
            resetForm("password.password1"),
            '_label -> Messages("signup.password1"),
            'class -> "input-xlarge"
            )

            @helper.inputPassword(
            resetForm("password.password2"),
            '_label -> Messages("signup.password2"),
            '_error -> resetForm.error("password"),
            'class -> "input-xlarge"
            )

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">@Messages("password.reset")</button>
            </div>

        </fieldset>
    </form>
}


