@(signUpForm:Form[controllers.Registration.RegistrationInfo], token: String)(implicit request: RequestHeader)
@import core.providers.UsernamePasswordProvider
@import core.IdentityProvider
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(views.html.authentication.inputFieldConstructor.f) }

@views.html.main( Messages("signup.title") ){
    <div class="page-header">
        <h1>@Messages("signup.title")</h1>
    </div>

    @request.flash.get("error").map { msg =>
        <div class="alert alert-error">
            @msg
        </div>
    }

    <form action="@core.providers.utils.RoutesHelper.handleSignUp(token).absoluteURL(IdentityProvider.sslEnabled)"
          class="form-horizontal"
          autocomplete= "off"
          method="POST"
    >
        <fieldset>
            @if( UsernamePasswordProvider.withUserNameSupport ) {
                @helper.inputText(
                    signUpForm("userName"),
                    '_label -> Messages("signup.username"),
                    'class -> "input-xlarge"
                )
            }

            @helper.inputText(
                signUpForm("firstName"),
                '_label -> Messages("signup.firstName"),
                'class -> "input-xlarge"
            )

            @helper.inputText(
                signUpForm("lastName"),
                '_label -> Messages("signup.lastName"),
                'class -> "input-xlarge"
            )

            @select(
            signUpForm("country"),
            options = options(Countries.list),
            '_default -> "--- Choose a country ---",
            '_label -> "Country",
            '_error -> signUpForm("country").error.map(_.withMessage("Please select your country"))
            )

            @helper.inputPassword(
                signUpForm("password.password1"),
                '_label -> Messages("signup.password1"),
                'class -> "input-xlarge"
            )

            @helper.inputPassword(
                signUpForm("password.password2"),
                '_label -> Messages("signup.password2"),
                '_error -> signUpForm.error("password"),
                'class -> "input-xlarge"
            )

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">@Messages("signup.createAccount")</button>
                <a class="btn" href="@core.providers.utils.RoutesHelper.login()">@Messages("signup.cancel")</a>
            </div>
        </fieldset>
    </form>
}