@(startForm:Form[String])(implicit request: RequestHeader)
@import helper._
@import core.IdentityProvider
@implicitFieldConstructor = @{FieldConstructor(views.html.inputFieldConstructor.f) }

@views.html.main( Messages("password.title") ) {
    <div class="page-header">
        <h1>@Messages("password.title")</h1>
    </div>

    @request.flash.get("error").map { msg =>
    <div class="alert alert-error">
        @Messages(msg)
    </div>
    }

    <form action="@core.providers.utils.RoutesHelper.handleStartResetPassword().absoluteURL(IdentityProvider.sslEnabled)"
          class="form-horizontal"
          autocomplete="off"
          method="POST"
    >
        <fieldset>
            @helper.inputText(
            startForm("email"),
            '_label -> Messages("signup.email1"),
            'class -> "input-xlarge"
            )

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">@Messages("password.reset")</button>
                <a class="btn" href="@core.providers.utils.RoutesHelper.login()">@Messages("signup.cancel")</a>
            </div>

        </fieldset>
    </form>
}