@(implicit user:Option[core.Identity])
@main("Form samples"){
    <div class="callout callout-top clearfix">
        <img src="@routes.Assets.at("images/vdig.jpg")" id="Logo">
        <div class="grid">
            <div class="col_3">
                <a class="button large red"><i class="icon-leaf"></i>make</a>
            </div>
            <div class="col_3">
                <a class="button large orange"><i class="icon-leaf"></i>watch</a>
            </div>
            <div class="col_3">
                <a class="button large blue" href="/share"><i class="icon-leaf"></i>share</a>
            </div>
        </div>
    </div>
}
